src/main/resources/unico.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://unico.adsoapendpoint" targetNamespace="http://unico.adsoapendpoint"
	elementFormDefault="qualified">


	<xs:element name="gcd">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gcdNumber" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:simpleType name="gcdList">
		<xs:list itemType="xs:integer"/>
	</xs:simpleType>



	<xs:element name="gcdSum">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gcdNumber" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>